.container-fluid(style="position: fixed)")
  .row
      ul.menu.col-xs-10.col-sm-6.col-md-4.col-lg-4()
        li
          a.topMenuOption(href="#", ng-click="toogleOptionsMenu()")
            span
              ng-md-icon(icon="add", size="26", ng-show="!showMenu")
              ng-md-icon(icon="remove", size="26", ng-show="showMenu")
            span.titleMenu
              | {{navigation.getCurrentStateTitle()}}
        li.subMenu.fadeMenu(ng-show="showMenu", ng-repeat="section in sections")
          a(href="#")
            span.subTitleMenu
              | {{section.name}}
          ul
            li
              a(href="#")
                span.subTitleItemMenu
                  | Objectives
            li
              a(href="#")
                span.subTitleItemMenu
                  | Animation
            li
              a(href="#")
                span.subTitleItemMenu
                  | Practice Session
        li
          a.topMenuOption.fadeMenu(ng-show="showMenu")
            div
              span.footerSubTitleMenu
                | Voet, Voet & Pratt
            div
              span.footerTitleMenu
                | Fundamentals of Biochemistry

