div(flex="",
ng-class="{'mainContentAnimation-sm' : animationController.screenIsSmall, 'mainContent': !animation.screenIsSmall}")
  div(layout="row", layout-margin="", layout-fill="", layout-padding="", layout-sm="column")
    div(flex="", layout="column", layout-align="start center")
      video(width="{{animationController.getWidthVideo()}}", height="{{animationController.getHeightVideo()}}",
      controls="", preload="none")
        source(src="http://mediaelementjs.com/media/echo-hereweare.mp4#t=10,15", type="video/mp4")
        source(src="http://mediaelementjs.com/media/echo-hereweare.webm#t=10,15", type="video/webm")
        source(src="http://mediaelementjs.com/media/echo-hereweare.ogv#t=10,15", type="video/ogg")





