.content(style = 'padding-bottom: {{practiceController.margin}}px;')
  #practice_session
    img#loading(src="components/images/ajax-loader.gif")
    #nextButton.labels Next
    #retryButton.labels Retry
    #instructions.labels
    #message.labels
    #multiple_choice
    #drag.labels
    #popUps
      table.center-cover()
        tr
          td(style="text-align: center; vertical-align: middle;")
            .container-fluid
              .row
                .pull-right.popUps-container
                  div(layout="column", layout-align="center center")
                    md-whiteframe.md-whiteframe-z2.whiteframe.fadeFrame(layout="column", ng-animate="'box'")
                      div()
                        div.text-left()
                          div#instructions-pn()
                            span
                              | Hola
                          div#feedback-top-pn()
                            span
                              | Correct!
                          div#feedback-bottom-pn()
                            span
                              | Excellent
                        .objective-button.text-left(ng-click = 'objectivesController.navigation.goNext()')
                          div(layout="row")
                            div()
                              .practice-button.text-center(ng-click = 'objectivesController.navigation.goNext()')
                                a
                                  div()
                                    span.arrow.glyphicon.glyphicon-triangle-left.practice-button-arrow(aria-hidden='true')
                                    | &nbsp; Prev

                            div(flex="", layout = "row", layout-align="center center")

                            div(layout="row", layout-align="end center")
                              .practice-button.text-right(ng-click = 'objectivesController.navigation.goNext()')
                                a
                                  div()
                                    span
                                      | Next &nbsp;
                                    span.arrow.glyphicon.glyphicon-triangle-right.practice-button-arrow(aria-hidden='true')
                    //a
                      div()
                        span
                          | Watch animation &nbsp;
                        span.arrow.glyphicon.glyphicon-triangle-right.objective-button-arrow(aria-hidden='true')

                      div()
                        span
                          | Watch animation &nbsp;
                        span.arrow.glyphicon.glyphicon-triangle-right.objective-button-arrow(aria-hidden='true')

  #navigation_instructions
