#instructions
  font-family: Open Sans;
  font-size: 18px;

#popUps
  position: absolute;
  height: 100%;
  width 100%

.popUps-container
  max-width: 300px;
  width 300px

#popUps md-whiteframe
  color: #000;
  border: solid 1px;
  z-index: 1000;


#feedback-top-pn
  font-weight 800
  font-size 14px
  padding-bottom: 10px;

#feedback-bottom-pn
  font-size 14px
  padding-bottom: 10px;

.practice-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.practice-button-arrow
  font-size smaller

.practice-button a {
  border-collapse: separate;
  font-size: inherit;
  font-weight bold
  display: table;
  padding: 10px;
  margin-top 10px
  width: 100%;
  height inherit
  background-color: #222;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  color: #fff;
  overflow: hidden;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
