//$bg-green = #009688
//$bg-blue = #3949ab

//.bg-green
//  background-color $bg-green
//
//.bg-blue
//  background-color $bg-blue

.mainContent
  margin-top 10%

.mainContent-sm
  margin-top 50px


.mainTitle h1
  font-weight 900
  font-size 66px

.mainTitle h2
  font-weight 600

.mainTitleSm h1
  font-weight 900
  font-size 40px

.mainTitleSm h2
  font-weight 600
  font-size 20px

