$bg-green = #009688
$bg-blue = #3949ab

.bg-green
  background-color $bg-green

.bg-blue
  background-color $bg-blue

.mainContent
  margin-top 85px

.mainTitle h1
  font-weight 800

.mainTitle h2
  font-weight 600
