.container
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container-fluid.text-center
      .row
        a.btn.navbar-btn.pull-left.pn-footer-button(ng-show='!!navigation.getNavigationState().previousTitle',
        ng-click = '')
          span.glyphicon.glyphicon-triangle-left(aria-hidden='true')
          | {{!!navigation.getNavigationState().previousTitle}}

        a.btn.navbar-btn.pull-right.pn-footer-button
          |  {{navigation.getNavigationState().nextTitle}}&nbsp;
          span.glyphicon.glyphicon-triangle-right(aria-hidden='true')

        a.btn.navbar-btn.pn-footer-button()
          |  &nbsp;&nbsp;{{navigation.getCurrentTitle()}}&nbsp;&nbsp;
