.container
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container-fluid.text-center
      .row
        a.btn.navbar-btn.pull-left.pn-footer-button
          span.glyphicon.glyphicon-triangle-left(aria-hidden='true')
          | &nbsp;123456789

        a.btn.navbar-btn.pull-right.pn-footer-button
          |  123456789&nbsp;
          span.glyphicon.glyphicon-triangle-right(aria-hidden='true')

        a.btn.navbar-btn.pn-footer-button
          |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{navigation.getCurrentStateName()}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
